<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div class="main-section pb-0">
    <div class="container">
        <div class="col-xl-8 col-lg-9">
            <h1>Music doesn't lie. If there is something to be <span class="text-primary">changed in this world</span>, then it can only happen through music.</h1>
        </div>
    </div>
</div>
<!-- End:: main section -->

<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div class="main-section">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5">
                <img src="./assets/images/background/about.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-7 fs-5">
                <div class="pe-5">
                    <h2 class="my-4"><span class="text-primary">Our</span> Story</h2>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                </div>
                <div class="ratio ratio-16x9 mt-5">
                    <iframe src="https://www.youtube.com/embed/7e90gBu4pas" title="Working at Envato" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: main section -->

<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div class="main-section bg-light">
    <div class="container text-center">
        <h2 class="mb-5">How it <span class="text-primary">works?</span></h2>
        <div class="row g-5 fs-6">
            <div class="col-lg-4 col-sm-6">
                <div class="px-xl-3">
                    <i class="ri-file-list-3-line fs-3" style="color: var(--bs-pink);"></i>
                    <h4 class="mt-4">1. Register your email</h4>
                    <p>Quaerat facilis fuga accusantium ut velit ab ex quibusdam sint quos totam eaque officia molestiae id porro neque incidunt!</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="px-xl-3">
                    <i class="ri-vip-crown-line fs-3" style="color: var(--bs-purple);"></i>
                    <h4 class="mt-4">2. Select your plan</h4>
                    <p>Tempora nihil nam vero quaerat facilis aliquid unde quidem expedita, maiores in, reprehenderit nostrum doloremque praesentium voluptate!</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="px-xl-3">
                    <i class="ri-headphone-line fs-3" style="color: var(--bs-indigo);"></i>
                    <h4 class="mt-4">3. Access unlimited music</h4>
                    <p>Aliquam, delectus porro minima nisi voluptatibus provident incidunt earum laudantium voluptates nesciunt ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:: main section -->

<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div class="main-section">
    <div class="container">
        <div class="col-xl-6 col-lg-8 mx-auto text-center fs-5 mb-5">
            <h2>Awesome <span class="text-primary">Team</span></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus sit aliquid molestiae sint ab illo.</p>
        </div>
        <div class="row g-5 justify-content-center">
            <div class="col-xl-2 col-lg-3 col-sm-4">
                <!-- Start:: avatar [[ Find at scss/components/avatar.scss ]] -->
                <div class="avatar avatar--xxl d-block text-center">
                    <div class="avatar__image">
                        <img src="./assets/images/users/thumb.jpg" alt="Arebica Luna">
                    </div>
                    <h5 class="mt-3">Olive Yew</h5>
                    <p>Founder</p>
                    <ul class="social justify-content-center">
                        <li>
                            <a href="#">
                                <i class="ri-facebook-fill fs-6"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ri-twitter-fill fs-6"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ri-instagram-fill fs-6"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End:: avatar -->
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4">
                <!-- Start:: avatar [[ Find at scss/components/avatar.scss ]] -->
                <div class="avatar avatar--xxl d-block text-center">
                    <div class="avatar__image">
                        <img src="./assets/images/users/thumb-2.jpg" alt="Arebica Luna">
                    </div>
                    <h5 class="mt-3">Aida Bugg</h5>
                    <p>Co-founder</p>
                    <ul class="social justify-content-center">
                        <li>
                            <a href="#">
                                <i class="ri-facebook-fill fs-6"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ri-twitter-fill fs-6"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ri-instagram-fill fs-6"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End:: avatar -->
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4">
                <!-- Start:: avatar [[ Find at scss/components/avatar.scss ]] -->
                <div class="avatar avatar--xxl d-block text-center">
                    <div class="avatar__image">
                        <img src="./assets/images/users/thumb-3.jpg" alt="Arebica Luna">
                    </div>
                    <h5 class="mt-3">Teri Dactyl</h5>
                    <p>Account manager</p>
                    <ul class="social justify-content-center">
                        <li>
                            <a href="#">
                                <i class="ri-facebook-fill fs-6"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ri-twitter-fill fs-6"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ri-instagram-fill fs-6"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End:: avatar -->
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4">
                <!-- Start:: avatar [[ Find at scss/components/avatar.scss ]] -->
                <div class="avatar avatar--xxl d-block text-center">
                    <div class="avatar__image">
                        <img src="./assets/images/users/thumb-4.jpg" alt="Arebica Luna">
                    </div>
                    <h5 class="mt-3">Peg Legge</h5>
                    <p>Team leader</p>
                    <ul class="social justify-content-center">
                        <li>
                            <a href="#">
                                <i class="ri-facebook-fill fs-6"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ri-twitter-fill fs-6"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ri-instagram-fill fs-6"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End:: avatar -->
            </div>
            <div class="col-xl-2 col-lg-3 col-sm-4">
                <!-- Start:: avatar [[ Find at scss/components/avatar.scss ]] -->
                <div class="avatar avatar--xxl d-block text-center">
                    <div class="avatar__image">
                        <img src="./assets/images/users/thumb-5.jpg" alt="Arebica Luna">
                    </div>
                    <h5 class="mt-3">Allie Grater</h5>
                    <p>Business manager</p>
                    <ul class="social justify-content-center">
                        <li>
                            <a href="#">
                                <i class="ri-facebook-fill fs-6"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ri-twitter-fill fs-6"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ri-instagram-fill fs-6"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End:: avatar -->
            </div>
        </div>
    </div>
</div>
<!-- End:: main section -->