<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div class="main-section">
    <div class="container">
        <div class="col-xl-8 col-lg-10 mx-auto">
            <div class="px-md-5 px-sm-4 mb-5">
                <a routerLink="/blog" class="d-inline-flex align-items-center mb-3">
                    <i class="ri-arrow-left-s-line"></i>
                    <span class="ps-1 fw-medium">Back to Blog page</span>
                </a>
                <h1 class="mb-4">Nihil quaerat asperiores repudiandae expedita libero cupiditate.</h1>
                <p class="fw-medium mb-4"><a>Music</a> | Jun 20, 2022 | 2 Min read</p>
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="avatar avatar--lg mb-4 mb-sm-0">
                        <div class="avatar__image">
                            <img src="./assets/images/users/thumb.jpg" alt="user">
                        </div>
                        <div class="avatar__content">
                            <span class="avatar__title">Super admin</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <span class="fw-semi-bold">Share article:</span>
                        <ul class="social ms-2">
                            <li>
                                <a>
                                    <i class="ri-facebook-fill fs-6"></i>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="ri-twitter-fill fs-6"></i>
                                </a>
                            </li>
                            <li>
                                <a>
                                    <i class="ri-instagram-fill fs-6"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="blog-hero">
                <img src="./assets/images/background/horizontal/3.jpg" class="img-fluid w-100" alt="Blog cover">
            </div>
            <div class="px-md-5 px-sm-4 mt-5">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi deserunt laborum voluptatem iste sunt. Consectetur aperiam in officiis illo nesciunt laborum maiores quae distinctio labore! Soluta vitae tempora id architecto?</p>
                <p>Accusantium molestias a nam molestiae voluptatibus voluptas sunt quia adipisci dolor delectus. Maxime illo sapiente, ipsa aliquid illum excepturi eos quibusdam, nihil numquam nemo error molestias a. Consequuntur aliquid delectus esse sint, iure quisquam. Distinctio qui animi culpa commodi. Autem, rerum sint.</p>
                <h3>Incidunt nisi magni numquam.</h3>
                <p>Fuga ipsum dolorem aliquid, veritatis repellat quos enim corrupti reprehenderit. Quia perspiciatis quas eveniet ab nam corporis, vero soluta sapiente repellendus velit cupiditate fuga mollitia perferendis asperiores? A quisquam nisi suscipit blanditiis:</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit,</li>
                    <li>Totam, facilis quos, iusto hic facere,</li>
                    <li>Molestiae necessitatibus culpa omnis quas aliquid vero ducimus,</li>
                    <li>Est officia vel. Dolorem quae debitis autem.</li>
                </ul>
                <p>Reiciendis neque recusandae non quidem sint expedita quis sunt ipsum quisquam aperiam quo atque sequi, accusantium magni unde obcaecati ut mollitia enim aliquid dolorem! Hic, excepturi! Ratione, eaque repellendus, mollitia aut neque nisi veritatis voluptates facere minus earum ducimus ad tempore a ex omnis iusto qui. Quisquam tempora labore excepturi minus id iusto inventore possimus, sapiente et ullam.</p>
                <h3>Saepe dignissimos.</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet aperiam modi doloremque, optio, vero odio quam, nobis itaque saepe numquam quas. Labore a provident sunt error, repellendus exercitationem in omnis.</p>
                <p>Quo, illum commodi voluptatem earum deserunt recusandae amet blanditiis pariatur totam repudiandae similique distinctio nesciunt. Dolores quaerat voluptatem ut in eaque qui, rerum, veniam ipsam maxime ipsum a aliquam ratione consequuntur odit distinctio, est illum amet id rem minus! Enim rerum ex aperiam optio debitis nobis!</p>
                <p>Consectetur officiis illo eveniet sint maiores omnis nulla, veniam quisquam, quibusdam iure ratione dolore et non vel hic. Facere molestias unde tempora aspernatur numquam alias, odit, rerum pariatur illum sunt iusto laboriosam veritatis voluptates totam porro architecto corrupti reprehenderit delectus ducimus maxime impedit! Laudantium fuga veritatis voluptates optio, facere dicta rem quibusdam, reprehenderit voluptatem quaerat dolorum. In dolor commodi aliquid pariatur ullam sint ipsam unde.</p>
            </div>
            <div class="d-flex align-items-center justify-content-center mt-5 fs-6">
                <a class="d-inline-flex align-items-center me-4">
                    <i class="ri-arrow-left-line"></i>
                    <span class="ps-1 fw-medium">Prev</span>
                </a>
                <a class="d-inline-flex align-items-center">
                    <span class="pe-1 fw-medium">Next</span>
                    <i class="ri-arrow-right-line"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End:: main section -->