<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div class="main-section pb-0">
    <div class="container">
        <div class="col-xl-6 col-lg-8 mx-auto text-center fs-5">
            <h2>The <span class="text-primary">Blog</span></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus sit aliquid molestiae sint ab illo.</p>
            <div class="mt-4">
                <input type="text" placeholder="Search anything here..." id="search_input" class="form-control form-control-lg">
            </div>
            <div class="mt-5">
                <a class="btn btn-light-primary active m-1">All</a>
                <a class="btn btn-light-primary m-1">Music</a>
                <a class="btn btn-light-primary m-1">Podcast</a>
                <a class="btn btn-light-primary m-1">Radio</a>
                <a class="btn btn-light-primary m-1">Trending</a>
            </div>
        </div>
    </div>
</div>
<!-- End:: main section -->

<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div class="main-section">
    <div class="container">
        <!-- Start:: cover [[ Find at scss/components/cover.scss ]] -->
        <div class="row g-4 g-lg-5 cover cover--round">
            <div class="col-lg-6">
                <a routerLink="1/details" class="cover__image">
                    <img src="./assets/images/background/horizontal/1.jpg" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <div class="fs-6">
                    <span class="cover__subtitle fw-medium mb-3">Jun 20, 2022</span>
                    <h3 class="mb-4">
                        <a routerLink="1/details" class="cover__title">Sapiente vel sunt veritatis eaque possimus laudantium dicta repudiandae?</a>
                    </h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                </div>
                <div class="avatar avatar--lg mt-5">
                    <div class="avatar__image">
                        <img src="./assets/images/users/thumb.jpg" alt="user">
                    </div>
                    <div class="avatar__content">
                        <span class="avatar__title">Super admin</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End:: cover -->
        <div class="row g-5 mt-5">
            <div class="col-lg-4 col-sm-6">
                <!-- Start:: cover [[ Find at scss/components/cover.scss ]] -->
                <div class="cover cover--round">
                    <a routerLink="2/details" class="cover__image">
                        <img src="./assets/images/background/horizontal/2.jpg" alt="Blog cover">
                    </a>
                    <div class="cover__foot mt-3 px-2">
                        <span class="cover__subtitle fw-medium mb-3">Admin - Jun 20, 2022</span>
                        <h5>
                            <a routerLink="2/details" class="cover__title">Nihil quaerat asperiores repudiandae expedita libero cupiditate.</a>
                        </h5>
                    </div>
                </div>
                <!-- End:: cover -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Start:: cover [[ Find at scss/components/cover.scss ]] -->
                <div class="cover cover--round">
                    <a routerLink="3/details" class="cover__image">
                        <img src="./assets/images/background/horizontal/3.jpg" alt="Blog cover">
                    </a>
                    <div class="cover__foot mt-3 px-2">
                        <span class="cover__subtitle fw-medium mb-3">Admin - Jun 20, 2022</span>
                        <h5>
                            <a routerLink="3/details" class="cover__title">Doloribus repudiandae possimus. Quia dolorum voluptatum dignissimos.</a>
                        </h5>
                    </div>
                </div>
                <!-- End:: cover -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Start:: cover [[ Find at scss/components/cover.scss ]] -->
                <div class="cover cover--round">
                    <a routerLink="4/details" class="cover__image">
                        <img src="./assets/images/background/horizontal/4.jpg" alt="Blog cover">
                    </a>
                    <div class="cover__foot mt-3 px-2">
                        <span class="cover__subtitle fw-medium mb-3">Admin - Jun 20, 2022</span>
                        <h5>
                            <a routerLink="4/details" class="cover__title">Molestias id porro incidunt aliquid dolor esse obcaecati maiores quas.</a>
                        </h5>
                    </div>
                </div>
                <!-- End:: cover -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Start:: cover [[ Find at scss/components/cover.scss ]] -->
                <div class="cover cover--round">
                    <a routerLink="5/details" class="cover__image">
                        <img src="./assets/images/background/horizontal/6.jpg" alt="Blog cover">
                    </a>
                    <div class="cover__foot mt-3 px-2">
                        <span class="cover__subtitle fw-medium mb-3">Admin - Jun 20, 2022</span>
                        <h5>
                            <a routerLink="5/details" class="cover__title">Nihil quaerat asperiores repudiandae expedita libero cupiditate.</a>
                        </h5>
                    </div>
                </div>
                <!-- End:: cover -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Start:: cover [[ Find at scss/components/cover.scss ]] -->
                <div class="cover cover--round">
                    <a routerLink="6/details" class="cover__image">
                        <img src="./assets/images/background/horizontal/1.jpg" alt="Blog cover">
                    </a>
                    <div class="cover__foot mt-3 px-2">
                        <span class="cover__subtitle fw-medium mb-3">Admin - Jun 20, 2022</span>
                        <h5>
                            <a routerLink="6/details" class="cover__title">Doloribus repudiandae possimus. Quia dolorum voluptatum dignissimos.</a>
                        </h5>
                    </div>
                </div>
                <!-- End:: cover -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Start:: cover [[ Find at scss/components/cover.scss ]] -->
                <div class="cover cover--round">
                    <a routerLink="7/details" class="cover__image">
                        <img src="./assets/images/background/horizontal/2.jpg" alt="Blog cover">
                    </a>
                    <div class="cover__foot mt-3 px-2">
                        <span class="cover__subtitle fw-medium mb-3">Admin - Jun 20, 2022</span>
                        <h5>
                            <a routerLink="7/details" class="cover__title">Molestias id porro incidunt aliquid dolor esse obcaecati maiores quas.</a>
                        </h5>
                    </div>
                </div>
                <!-- End:: cover -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Start:: cover [[ Find at scss/components/cover.scss ]] -->
                <div class="cover cover--round">
                    <a routerLink="8/details" class="cover__image">
                        <img src="./assets/images/background/horizontal/3.jpg" alt="Blog cover">
                    </a>
                    <div class="cover__foot mt-3 px-2">
                        <span class="cover__subtitle fw-medium mb-3">Admin - Jun 20, 2022</span>
                        <h5>
                            <a routerLink="8/details" class="cover__title">Doloribus repudiandae possimus. Quia dolorum voluptatum dignissimos.</a>
                        </h5>
                    </div>
                </div>
                <!-- End:: cover -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Start:: cover [[ Find at scss/components/cover.scss ]] -->
                <div class="cover cover--round">
                    <a routerLink="9/details" class="cover__image">
                        <img src="./assets/images/background/horizontal/4.jpg" alt="Blog cover">
                    </a>
                    <div class="cover__foot mt-3 px-2">
                        <span class="cover__subtitle fw-medium mb-3">Admin - Jun 20, 2022</span>
                        <h5>
                            <a routerLink="9/details" class="cover__title">Molestias id porro incidunt aliquid dolor esse obcaecati maiores quas.</a>
                        </h5>
                    </div>
                </div>
                <!-- End:: cover -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Start:: cover [[ Find at scss/components/cover.scss ]] -->
                <div class="cover cover--round">
                    <a routerLink="10/details" class="cover__image">
                        <img src="./assets/images/background/horizontal/6.jpg" alt="Blog cover">
                    </a>
                    <div class="cover__foot mt-3 px-2">
                        <span class="cover__subtitle fw-medium mb-3">Admin - Jun 20, 2022</span>
                        <h5>
                            <a routerLink="10/details" class="cover__title">Nihil quaerat asperiores repudiandae expedita libero cupiditate.</a>
                        </h5>
                    </div>
                </div>
                <!-- End:: cover -->
            </div>
        </div>
        <nav class="mt-5" aria-label="Page navigation example">
            <ul class="pagination justify-content-center fw-medium">
                <li class="page-item">
                    <a class="page-link">Prev</a>
                </li>
                <li class="page-item"><a class="page-link">1</a></li>
                <li class="page-item active"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item">
                    <a class="page-link">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- End:: main section -->