<div class="container-fluid px-xl-4">
    <!-- Start:: main hero [[ Find at scss/framework/hero.scss ]] -->
    <div class="main-hero mx-auto" style="background-image: url(./assets/images/background/hero.jpg);">
        <div class="container">
            <div class="col-xl-6 col-lg-8 col-md-9 fs-5">
                <h1 class="main-hero__title mb-3">Music to fill your <span class="text-primary">heart.</span></h1>
                <div class="me-sm-5">
                    <p>Get playlists and albums inspired by the artists and genres you're listing to. 1 month free.</p>
                    <a class="btn btn-lg btn-default" routerLink="/login">Try it free</a>
                    <a class="btn btn-lg btn-outline-dark ms-2" routerLink="/app">Discover</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End:: main hero -->
</div>

<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div class="main-section">
    <div class="container">
        <div class="col-xl-6 col-lg-8 mx-auto text-center fs-5 mb-5">
            <h2>Features of <span class="text-primary">Listen App</span></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus sit aliquid molestiae sint ab illo.</p>
        </div>
        <!-- Start:: feature [[ Find at scss/framework/core.scss ]] -->
        <div class="feature">
            <div class="row g-4 g-md-5">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card h-100 py-2">
                        <div class="card-body">
                            <div class="feature__icon" style="color: var(--bs-blue);">
                                <i class="ri-music-2-fill fs-4"></i>
                            </div>
                            <h5 class="mt-4 mb-3">Millions of songs</h5>
                            <p>Lorem ipsum dolor sit amet elit adipisicing. consectetur maiores Exercitationem.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card h-100 py-2">
                        <div class="card-body">
                            <div class="feature__icon" style="color: var(--bs-pink);">
                                <i class="ri-question-answer-fill fs-4"></i>
                            </div>
                            <h5 class="mt-4 mb-3">Comments & reviews</h5>
                            <p>Accusamus hic dolorem dicta illum quod. Sunt voluptatum assumenda atque praesentium.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card h-100 py-2">
                        <div class="card-body">
                            <div class="feature__icon" style="color: var(--bs-purple);">
                                <i class="ri-calendar-event-fill fs-4"></i>
                            </div>
                            <h5 class="mt-4 mb-3">Musical events</h5>
                            <p>Nesciunt aliquid vitae, asperiores unde soluta quia, commodi ad voluptatum pariatur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card h-100 py-2">
                        <div class="card-body">
                            <div class="feature__icon" style="color: var(--bs-indigo);">
                                <i class="ri-donut-chart-fill fs-4"></i>
                            </div>
                            <h5 class="mt-4 mb-3">Data analytics</h5>
                            <p>Ratione vel sit corrupti atque natus dolores amet architecto sequi? Tenetur.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card h-100 py-2">
                        <div class="card-body">
                            <div class="feature__icon" style="color: var(--bs-red);">
                                <i class="ri-radio-fill fs-4"></i>
                            </div>
                            <h5 class="mt-4 mb-3">Live streaming</h5>
                            <p>Mollitia temporibus fuga est atque harum quod dolorum inventore distinctio!</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card h-100 py-2">
                        <div class="card-body">
                            <div class="feature__icon" style="color: var(--bs-orange);">
                                <i class="ri-vip-crown-fill fs-4"></i>
                            </div>
                            <h5 class="mt-4 mb-3">Subscription plan</h5>
                            <p>Mollitia temporibus fuga est atque harum quod dolorum inventore distinctio!</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="card h-100 py-2">
                        <div class="card-body">
                            <div class="feature__icon" style="color: var(--bs-green);">
                                <i class="ri-user-4-fill fs-4"></i>
                            </div>
                            <h5 class="mt-4 mb-3">User management</h5>
                            <p>Dolorum aut reprehenderit facere quia dolore nesciunt aliquam voluptatem distinctio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End:: feature -->
    </div>
</div>
<!-- End:: main section -->

<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div class="main-section bg-light">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between text-center mb-5">
            <h2 class="mb-4 mb-sm-0">Upcoming <span class="text-primary">Events</span></h2>
            <a class="btn btn-outline-primary" routerLink="/login">Explore all events</a>
        </div>
        <div class="row g-4 g-md-5">
            <div class="col-lg-4 col-sm-6" *ngFor="let event of events">
                <app-event-view [data]="event"></app-event-view>
            </div>
        </div>
    </div>
</div>
<!-- End:: main section -->

<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div id="pricing" class="main-section">
    <div class="container">
        <div class="text-center mb-5">
            <h2>Flexible <span class="text-primary">Plans</span></h2>
        </div>
        <div class="col-xl-11 col-lg-8 mx-auto pt-4">
            <app-pricing></app-pricing>
        </div>
    </div>
</div>
<!-- End:: main section -->

<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div class="main-section bg-light">
    <div class="container">
        <div class="col-xl-6 col-lg-8 mx-auto text-center fs-5 mb-5">
            <h2>Trending <span class="text-primary">Artists</span></h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus sit aliquid molestiae sint ab illo.</p>
        </div>
        <app-artist-carousel></app-artist-carousel>
    </div>
</div>
<!-- End:: main section -->

<!-- Start:: main section [[ Find at scss/framework/section.scss ]] -->
<div class="main-section">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between text-center mb-5">
            <h2 class="mb-4 mb-sm-0">Latest <span class="text-primary">Articles</span></h2>
            <a class="btn btn-outline-primary" routerLink="/blog">Explore all blogs</a>
        </div>
        <div class="row g-4 g-md-5">
            <div class="col-lg-4 col-sm-6">
                <!-- Start:: cover [[ Find at scss/components/cover.scss ]] -->
                <div class="cover cover--round">
                    <a routerLink="/blog/1/details" class="cover__image">
                        <img src="./assets/images/background/horizontal/4.jpg" alt="Blog cover">
                    </a>
                    <div class="cover__foot mt-3 px-2">
                        <span class="cover__subtitle fw-medium mb-3">Admin - Jun 20, 2022</span>
                        <h5>
                            <a routerLink="/blog/1/details" class="cover__title">Nihil quaerat asperiores repudiandae expedita libero cupiditate.</a>
                        </h5>
                    </div>
                </div>
                <!-- End:: cover -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Start:: cover [[ Find at scss/components/cover.scss ]] -->
                <div class="cover cover--round">
                    <a routerLink="/blog/2/details" class="cover__image">
                        <img src="./assets/images/background/horizontal/5.jpg" alt="Blog cover">
                    </a>
                    <div class="cover__foot mt-3 px-2">
                        <span class="cover__subtitle fw-medium mb-3">Admin - Jun 20, 2022</span>
                        <h5>
                            <a routerLink="/blog/2/details" class="cover__title">Doloribus repudiandae possimus. Quia dolorum voluptatum dignissimos.</a>
                        </h5>
                    </div>
                </div>
                <!-- End:: cover -->
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Start:: cover [[ Find at scss/components/cover.scss ]] -->
                <div class="cover cover--round">
                    <a routerLink="/blog/3/details" class="cover__image">
                        <img src="./assets/images/background/horizontal/6.jpg" alt="Blog cover">
                    </a>
                    <div class="cover__foot mt-3 px-2">
                        <span class="cover__subtitle fw-medium mb-3">Admin - Jun 20, 2022</span>
                        <h5>
                            <a routerLink="/blog/3/details" class="cover__title">Molestias id porro incidunt aliquid dolor esse obcaecati maiores quas.</a>
                        </h5>
                    </div>
                </div>
                <!-- End:: cover -->
            </div>
        </div>
    </div>
</div>
<!-- End:: main section -->